{% extends "layout.html" %}

{% block title %}Playlist Details{% endblock %}

{% block content %}
<style>
    .playlist-details {
        max-width: 800px;
        margin: 20px auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    .playlist-header {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }
    .playlist-header img {
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 10px;
        margin-right: 20px;
    }
    .playlist-header h1 {
        margin: 0;
        font-size: 24px;
    }
    .track-list {
        list-style: none;
        padding: 0;
    }
    .track-list li {
        margin: 10px 0;
        padding: 10px;
        background-color: #f5f5f5;
        border-radius: 5px;
    }
    .button {
        padding: 10px 20px;
        background-color: #1db954;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
        display: inline-block;
        margin-right: 10px;
    }
    .button:hover {
        background-color: #1aa34a;
    }
</style>

<button class="back-button" onclick="window.location.href='{{ url_for('display_playlists') }}'">&times;</button>
<div class="playlist-details">
    <div class="playlist-header">
        <img src="{{ playlist.images[0].url }}" alt="Playlist Image">
        <div>
            <h1>{{ playlist.name }}</h1>
            <p>{{ playlist.description }}</p>
            <a href="{{ url_for('swipe_playlist', playlist_id=playlist.id) }}" class="button">Modify Directly</a>
            <a href="{{ url_for('select_playlists', playlist_id=playlist.id) }}" class="button">Modify with Playlists</a>
        </div>
    </div>
    <ul class="track-list">
        {% for item in playlist.tracks['items'] %}
        <li>
            {{ item['track']['name'] }} by {{ item['track']['artists'][0]['name'] }}
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
